@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

*{
    box-sizing: border-box;
}   

header {
    font-family: "Shrikhand", cursive;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0px 2px 2px 1px rgba(128, 128, 128, 0.267);
    position: relative;
    height: 5rem;
    padding: 0.5rem;
}

body {
    font-family: "roboto", sans-serif;
    margin: 0px;
    
}

main .city {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color: rgb(232, 232, 232);
    box-shadow: 0px 1px 1px 1px rgb(225, 224, 224);
}


.city i {
    margin-right: 1rem;
}

.city h2 {
    font-size: 1rem;
    margin-right: 2rem;
}

main {
    background-color: #f2f2f2;
}


.explorer {
    text-align: center;
}

.explorer h2 {
    font-size: 2rem;
}

.explorer p {
    padding: 3%;
}

.explorer button {
    background-color: #FF79DA;
    border-radius: 50px;
    margin-bottom: 10%;
    height: 3rem;
    width: 50%;
    color: white;
}

button:hover {
    transform: scale(1.02);
}

.choix h2 {
    background-color: white;
    padding: 1rem;
}

ol {
    display: flex;
    flex-wrap: wrap;
    
    
}

@media (max-width: 768px) {
   .choix ol {
       flex-direction: column;
   }
    
}

li {
    box-shadow: 0px 0.5px 0px 0.5px;
    background-color: rgb(232, 232, 232);
    border-radius: 50px;
    margin-left: 45px;
    width: 230px;
    height: 55px;
    margin-bottom: 5%;
    padding-top: 10px;
    padding-left: 5px
}

.choix {
    background-color: white;
}


li i {
    margin: 10px;
}

